<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<style>
    .container{
    font-family: 'Poppins';
    font-weight: 900;
    color: black;
    }
</style>

<div class="container mt-5 pt-5">
    <div class="content-box row">
        <a href="/home"><button class="btn btn-primary ml-2 mb-3">Home Page</button></a>
        <div  class="heading col-12"><h3 style="font-weight: 900;'" class="text-success">Great! Your stay is confirmed.</h3></div>
    </div>
    <div class="details">
       <div class="card mb-5 " style="box-shadow: 0px 0px 10px #0000002e;">
  <div class="card-header ">
    <div class="">
        <h6>Booking ID</h6>
        <p>{{bill._id}}</p>
        <h6>Booked On : </h6><p>{{bill.bookedTime}}</p>
    </div>

  </div>
  <div class="card-body">
    {{#each bill.hotel}}
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.adress}}</p>
    {{/each}}
    <div class="row">
        <div class="col-4 ">
            <h6>Guest</h6>
            <h6>{{bill.fullName}}</h6>
        </div>
        <div class="col-4">
            <h6 style="">Check In</h6>
            <h6>{{bill.checkin}}</h6>
        </div>
        <div class="col-4 ">
            <h6>Check In Time</h6>
    {{#each bill.hotel}}

            <h6>{{this.checkIn}}</h6>
        </div>
    {{/each}}

    </div>


    <div class="row mt-3" >
        <div class="col-4 ">
            <h6 style="">Phone</h6>
            <h6>{{bill.phone}}</h6>
        </div>
        <div class="col-4">
            <h6>Check Out</h6>
            <h6>{{bill.checkout}}</h6>
        </div>
        <div class="col-4 ">
            <h6 style="">Check Out Time</h6>
    {{#each bill.hotel}}

            <h6>{{this.checkOut}}</h2>
        </div>
    {{/each}}

    </div>

    <div class="row mt-3" >
        <div class="col-4 ">
            <h6>Email</h6>
            <h6>{{bill.email}}</h6>
        </div>
    </div>

  <div class="row mt-3" >
        <div class="col-4 ">
            <h6>Days</h6>
            <h6>{{bill.days}}</h6>
        </div>

        <div class="col-4 ">
            <h6>Rooms</h6>
            <h6>{{bill.rooms}}</h6>
        </div>

        <div class="col-4 ">
            <h6>Type</h6>
            {{#each bill.roomDetails}}
            <h6>{{this.category}}</h6>
            {{/each}}

        </div>
    </div>
              <div class="border-top px-2 mx-2 mt-4 mb-4"></div>

               <div class="row " >
        <div class="col-4 ">
            <h6>Amount Paid</h6>
            <h6 style="font-weight: 900;" class="text-success">{{bill.grandTotal}}</h6>
        </div>
              <div class="border-top px-2 mx-2 mt-4 mb-4"></div>
            
               <div class="container">
                 <h3 class="" style=" font-weight: 600;" >Thank you For Booking With Emarald!</h3>
               </div>
           
    </div>
  </div>
</div>
    </div>
</div>